### Описание датасета

A data frame with 53940 rows and 10 variables:

price - price in US dollars ($326–$18,823)  
carat - weight of the diamond (0.2–5.01)  
cut - quality of the cut (Fair, Good, Very Good, Premium, Ideal)  
color - diamond colour, from D (best) to J (worst)  
clarity - a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))  
x - length in mm (0–10.74)  
y - width in mm (0–58.9)  
z - depth in mm (0–31.8)  
depth - total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43–79)  
table - width of top of diamond relative to widest point (43–95)

### Загрузка данных

In [79]:
import pandas as pd
import statsmodels.api as sm
#import psycopg2 as pg2 
from sqlalchemy import create_engine

In [80]:
item = 'diamonds' # Выбрать из поля Item для вашего датасета
package = 'ggplot2' # Выбрать из поля Package для вашего датасета

df = sm.datasets.get_rdataset(item, package , cache=True).data
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### 1. Apply()

In [81]:
carat_to_gramm = lambda c: c * 0.2
df['gramm'] = df['carat'].apply(carat_to_gramm)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z  gramm
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43  0.046
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31  0.042
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31  0.046
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63  0.058
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75  0.062

### 2. Transform()

In [82]:
def drop_outliers(df, variable = 'price'):
    q1 = df[variable].quantile(0.25)
    q3 = df[variable].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5*iqr
    upper_bound = q3 + 1.5*iqr
    #print(lower_bound, upper_bound)
    return df[(df[variable]>=lower_bound)&(df[variable]<=upper_bound)]

In [83]:
# Посмотрим, были ли у нас значения за границами выбросов 
df.sort_values('price')

,carat,cut,color,clarity,depth,table,price,x,y,z,gramm
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.046
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.042
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.046
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.058
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.062
...,...,...,...,...,...,...,...,...,...,...,...
27745,2.00,Very Good,H,SI1,62.8,57.0,18803,7.95,8.00,5.01,0.400
27746,2.07,Ideal,G,SI2,62.5,55.0,18804,8.20,8.13,5.11,0.414
27747,1.51,Ideal,G,IF,61.7,55.0,18806,7.37,7.41,4.56,0.302
27748,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04,0.400
27749,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16,0.458

In [84]:
drop_outliers(df, 'price')

,carat,cut,color,clarity,depth,table,price,x,y,z,gramm
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.046
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.042
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.046
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.058
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.062
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0.144
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,0.144
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,0.140
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,0.172
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,0.150

In [85]:
(
    df
    .groupby('cut')
    .apply(drop_outliers, include_groups=False)
    .reset_index()
)

,cut,level_1,carat,color,clarity,depth,table,price,x,y,z,gramm
0,Fair,8,0.22,E,VS2,65.1,61.0,337,3.87,3.78,2.49,0.044
1,Fair,91,0.86,E,SI2,55.1,69.0,2757,6.45,6.33,3.52,0.172
2,Fair,97,0.96,F,SI2,66.3,62.0,2759,6.27,5.95,4.07,0.192
3,Fair,123,0.70,F,VS2,64.5,57.0,2762,5.57,5.53,3.58,0.140
4,Fair,124,0.70,F,VS2,65.3,55.0,2762,5.63,5.58,3.66,0.140
...,...,...,...,...,...,...,...,...,...,...,...,...
50347,Very Good,53921,0.70,E,VS2,62.8,60.0,2755,5.59,5.65,3.53,0.140
50348,Very Good,53922,0.70,D,VS1,63.1,59.0,2755,5.67,5.58,3.55,0.140
50349,Very Good,53932,0.70,E,VS2,60.5,59.0,2757,5.71,5.76,3.47,0.140
50350,Very Good,53933,0.70,E,VS2,61.2,59.0,2757,5.69,5.72,3.49,0.140
50351,Very Good,53937,0.70,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,0.140

### 3. Map()

In [86]:
cut_dict = {
    'Fair"' : 0,
    'Good' : 1, 
    'Very Good' : 2, 
    'Premium' : 3,
    'Ideal' : 4
}

df['cut_value'] = df['cut'].map(cut_dict)

In [87]:
df

,carat,cut,color,clarity,depth,table,price,x,y,z,gramm,cut_value
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.046,4.0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.042,3.0
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.046,1.0
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.058,3.0
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.062,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0.144,4.0
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,0.144,1.0
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,0.140,2.0
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,0.172,3.0
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,0.150,4.0

### 4. Даты

В датасете нет дат. Используем данные dvdrental

In [88]:
#engine = pg2.connect("dbname='dvdrental' user='postgres' host='localhost' port='5432' password='Qwerty'")
engine = create_engine("postgresql://postgres:Qwerty@localhost:5432/dvdrental")
query = """
SELECT * FROM public.payment
"""
df2 = pd.read_sql(query, engine)

In [89]:
df2

,payment_id,customer_id,staff_id,rental_id,amount,payment_date
0,17503,341,2,1520,7.99,2007-02-15 22:25:46.996577
1,17504,341,1,1778,1.99,2007-02-16 17:23:14.996577
2,17505,341,1,1849,7.99,2007-02-16 22:41:45.996577
3,17506,341,2,2829,2.99,2007-02-19 19:39:56.996577
4,17507,341,2,3130,7.99,2007-02-20 17:31:48.996577
...,...,...,...,...,...,...
14591,32094,245,2,12682,2.99,2007-05-14 13:44:29.996577
14592,32095,251,1,14107,0.99,2007-05-14 13:44:29.996577
14593,32096,252,2,13756,4.99,2007-05-14 13:44:29.996577
14594,32097,263,1,15293,0.99,2007-05-14 13:44:29.996577
14595,32098,264,2,14243,2.99,2007-05-14 13:44:29.996577

In [90]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14596 entries, 0 to 14595
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   payment_id    14596 non-null  int64
 1   customer_id   14596 non-null  int64
 2   staff_id      14596 non-null  int64
 3   rental_id     14596 non-null  int64
 4   amount        14596 non-null  float64
 5   payment_date  14596 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 684.3 KB

In [91]:
sales = df2.groupby('payment_date').agg({'amount':'sum'})
sales

                            amount
payment_date
2007-02-14 21:21:59.996577    2.99
2007-02-14 21:23:39.996577    4.99
2007-02-14 21:29:00.996577    4.99
2007-02-14 21:41:12.996577    6.99
2007-02-14 21:44:52.996577    0.99
...                            ...
2007-04-30 23:47:28.996577    2.99
2007-04-30 23:51:26.996577    0.99
2007-04-30 23:51:41.996577    0.99
2007-04-30 23:53:48.996577    3.99
2007-05-14 13:44:29.996577  514.18

[14365 rows x 1 columns]

In [92]:
sales.resample('ME').agg(['sum', 'count', 'mean'])

                amount
                   sum count        mean
payment_date
2007-02-28     8351.84  2014    4.146892
2007-03-31    23886.56  5619    4.251034
2007-04-30    28559.46  6731    4.242974
2007-05-31      514.18     1  514.180000

In [93]:
sales.resample('D').agg(['sum', 'count', 'mean'])

               amount
                  sum count        mean
payment_date
2007-02-14     116.73    27    4.323333
2007-02-15    1188.92   308    3.860130
2007-02-16    1154.18   282    4.092837
2007-02-17    1188.17   283    4.198481
2007-02-18    1275.98   302    4.225099
...               ...   ...         ...
2007-05-10       0.00     0         NaN
2007-05-11       0.00     0         NaN
2007-05-12       0.00     0         NaN
2007-05-13       0.00     0         NaN
2007-05-14     514.18     1  514.180000

[90 rows x 3 columns]